*{
    margin:0;
    padding: 0;
    border:0;
    font-size: 100%;
    font: inherit;
    width: 100%;
}

header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    flex-shrink: 2;
    background-color: black;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}


.header{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    word-wrap: break-word;
}

img{
    border-radius: 40%;
    border: 1px dashed rgb(43, 43, 43);
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
}

h2{
    font-family: 'Magista Brush', 'Times New Roman', Times, serif;
    font-size: 16px;
    color: white;
    text-align: left;
    margin-top: 28px;
}

.title{
    text-align: center;
    font-family: 'Rosellinda', 'Times New Roman', Times, serif;
    color: rgb(160, 133, 60);
    font-size: 42px;
    margin-top: 5px;
    margin-bottom: 5px;
}


@font-face {
    font-family: 'Caviar Dreams';
    src: url('CaviarDreams.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Magista Brush';
    src: url('Magista\ Brush.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rosellinda';
    src: url('Rosellinda\ Alyamore.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
