*{
    margin:0;
    padding: 0;
    border:0;
    font-size: 100%;
    font: inherit;
    width: 100%;
}

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 2;
    background-color: black;
    width: 100%;
    height: 100px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

p{
    font-family: 'Caviar Dreams','Times New Roman', Times, serif;
    color: white;
    text-align: center;
    font-size: 12px;
}

h3{
    font-family:'Rosellinda', 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(160, 133, 60);
    text-align: center;
}

@font-face {
    font-family: 'Rosellinda';
    src: url('../Header/Rosellinda\ Alyamore.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caviar Dreams';
    src: url('../Header/CaviarDreams.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}